@model MvcKutuphane.Models.Entity.TBLDUYURULAR
@{
    ViewBag.Title = "DuyuruDetay";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>DuyuruDetay</h2>

@using (Html.BeginForm("DuyuruGuncelle", "Duyuru", FormMethod.Post))
{
    <div style="margin-bottom: 15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Duyuru ID</label>
            @Html.TextBoxFor(p => p.ID, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Duyuru Kategori</label>
            @Html.TextBoxFor(p => p.KATEGORI, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Duyuru İçerik</label>
            @Html.TextAreaFor(p => p.ICERIK, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Duyuru Tarih</label>
            @Html.TextBoxFor(p =>p.TARIH, "{0: dd.MM.yyyy}" ,new { @class = "form-control" })
        </div>
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}