@using MvcKutuphane.Models.Entity
@model List<TBLKATEGORI>

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <div style="margin-top:15px">
        <label>KATEGORİ ADI</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="Btn1">Kategori Ekle</button>
    </div>
</form>