@model MvcKutuphane.Models.Entity.TBLADMIN
@{
    ViewBag.Title = "AdminGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("AdminGuncelle", "Ayarlar", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        <label>ID</label>
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        <br />
        <label>Kullanıcı</label>
        @Html.TextBoxFor(x => x.Kullanici, new { @class = "form-control" })
        <br />
        <label>Şifre</label>
        @Html.TextBoxFor(x => x.Sifre, new { @class = "form-control" })
        <br />
        <label>Yetki</label>
        @Html.TextBoxFor(x => x.Yetki, new { @class = "form-control" })
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}