@model MvcKutuphane.Models.Entity.TBLPERSONEL
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personel Güncelleme Sayfası</h2>

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    <div style="margin-bottom: 15px"></div>
    <div class="form-group">
        <div style="margin-bottom:15px">
            <label>Personel ID</label>
            @Html.TextBoxFor(p => p.ID, new { @class = "form-control" })
        </div>
        <div style="margin-bottom:15px">
            <label>Personel Adı</label>
            @Html.TextBoxFor(p => p.PERSONEL, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.PERSONEL, "", new { @style = "color:darkblue" })
        </div>
    </div>
    <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
}